:global {
    @import 'normalize.css';

    html,
    body {
        display: flex;
        flex-direction: column;
        flex: 1;
        box-sizing: border-box;
        height: 100%;
        min-height: 100%
    }

    body {
        box-sizing: border-box;
        background-color: #333;
        color: #fff;
        font-family: sans-serif;
        font-size: 100%;
        margin: 0;
    }
}